.logout_button{
	background-color: #c0392b;
    color: white;
	margin-top:10px;
    padding:10px;
    width: 10%;
	font-size:18px;
	font-weight: bold;
}

/*Navigation*/
nav {
    margin-top: 20px;
}

.nav-link{
    color: black;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.nav-link:hover{
        
        opacity: 0.8;
        color: gray;
       
    
}



/* Side Navigation */

@media(min-width:768px) {
  .side-nav {
      position: absolute;
      top: 130px;
      left: 225px;
      width: 225px;
      margin-left: -200px;
      border: none;
      border-radius: 0;
      overflow-y: auto;
      background-color: white;
      
     
  }

  .side-nav>li>a {
      width: 225px;
      
  }

  .side-nav li a:hover,
  .side-nav li a:focus {
      outline: none;
      background-color: skyblue !important;
  }
}

.side-nav>li>ul {
  padding: 0;
  
}

.side-nav>li>ul>li>a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  color: black;
}

.side-nav>li>ul>li>a:hover {
  color: skyblue;
}


/*--------------------Footer-----------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 1.7rem;
  font-weight: 600;
  color: white;
}
.content1 .p{
  font-size: 1.1875rem;
  font-weight: 600;
  color: white;
}
footer{

  bottom: 0px;
  width: 100%;
  background: #24282c;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.09rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background:  #151515;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background:  #151515;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 10px 0 0 0;
}
.left .content .social a{
  padding: 0px;
}
.left .content .social a span{
  
  height: 40px;
  width: 40px;
  background: #151515;
  line-height: 40px;
  text-align: justify;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.3s;
}

.center .content .fas{
  font-size: 1.04375rem;
  background:  #151515;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background:  #151515;
}
.center .content .text{
  font-size: 1.07rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.07rem;
  margin-bottom: 2px;
  color: white;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form .msgForm{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}

.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  background: rgb(2, 2, 105);
  font-size: 1.07rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
  border-radius: 3px solid;
}
.right form .btn button:hover{
  background: blue;
}

@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}

@media (min-width:901px) and (max-width: 900px) {
  .footer{
    text-align: justify;
  }
  
}